#nav-text {
    color:rgb(255, 255, 255)
}

#fondo {
    background-color: rgb(237, 237, 237);
}

#fondo2 {
    background-color: rgb(0, 0, 0);
}

#titulo {
    color:rgb(192, 35, 35)
}
#titulo2 {
    color: rgb(0, 0, 0)
}

#texto {
    color:rgb(77, 5, 5)
}