{% extends "layout.html" %}

{% block title %}
    Plan Estándar
{% endblock %}

{% block main %}
    <div class="d-flex justify-content-center">
        <img src="/static/assets/catelottilogo.png" width="12%" height="12%" alt="">
    </div>
    <div id="fondo" class="d-flex justify-content-center">
        <h3 id="titulo2" class="my-5 me-2">PLAN</h3>    
        <h3 id="titulo" class="my-5"><b>ESTANDAR</b></h3>
    </div>
    <div id="fondo" class="content-fluid">
        <div id="fondo" class="d-flex justify-content-center mx-5 my-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus architecto blanditiis adipisci cupiditate fugit voluptas placeat suscipit fugiat officia. Tempore eos excepturi quia neque delectus rem sapiente rerum, deserunt quaerat.</p>
        </div>
    </div>
    

{% endblock %}