<div class="container text-center">
  <table class="table">
      <thead>
      <tr>
          <th scope="col">Hs</th>
          <th scope="col">Lunes</th>
          <th scope="col">Martes</th>
          <th scope="col">Miercoles</th>
          <th scope="col">Jueves</th>
          <th scope="col">Viernes</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
          <tr>
              <td scope="row">9:00</td>
              <td></td>
              <td class="table-dark">Funcional</td>
              <td></td>
              <td class="table-dark">Funcional</td>
              <td></td>
          </tr>
          <tr>
              <td scope="row">10:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td scope="row">11:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td scope="row">12:30</td>
              <td></td>
              <td class="table-dark">Funcional</td>
              <td></td>
              <td class="table-dark">Funcional</td>
              <td></td>
          </tr>
          <tr>
              <td scope="row">13:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td scope="row">14:00</td>
              <td></td>
              <td class="table-dark">Funcional</td>
              <td></td>
              <td class="table-dark">Funcional</td>
              <td></td>
          </tr>
          <tr>
              <td scope="row">15:00</td>
              <td class="table-dark">Funcional</td>
              <td></td>
              <td class="table-dark">Funcional</td>
              <td></td>
              <td class="table-dark">Funcional</td>
          </tr>
          <tr>
              <td scope="row">16:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td scope="row">17:00</td>
              <td class="table-dark">Funcional</td>
              <td class="table-dark">Funcional</td>
              <td class="table-dark">Funcional</td>
              <td class="table-dark">Funcional</td>
              <td class="table-dark">Funcional</td>
          </tr>
          <tr>
              <td scope="row">18:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td scope="row">18:30</td>
              <td class="table-dark">Funcional</td>
              <td></td>
              <td class="table-dark">Funcional</td>
              <td></td>
              <td class="table-dark">Funcional</td>
          </tr>
          <tr>
              <td scope="row">19:00</td>
              <td></td>
              <td class="table-dark">Funcional</td>
              <td></td>
              <td class="table-dark">Funcional</td>
              <td></td>
          </tr>
      </tbody>
  </table>
</div>

<a href="https://www.flaticon.es/iconos-gratis/historia" title="historia iconos" style="color:rgb(139, 28, 28)">Historia iconos creados por Arkinasi - Flaticon</a>