{% extends "layout.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block main %}
    <!-- CARRUSEL -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/assets/carousel1.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <div id="fondo" class="d-flex justify-content-center">
        <h3 id="titulo2" class="my-5 me-2">NUESTROS</h3>    
        <h3 id="titulo" class="my-5"><b>SERVICIOS</b></h3>
    </div>
    <!-- SERVICIOS -->
    <div id="fondo">
        <div class="d-flex justify-content-center">
            <div class="row my-5 justify-content-center">
                <div class="col-md-4 col-sm-12 mx-lg-0 mx-xs-2">
                    <h5 id="titulo" class="my-2">Entrenamiento</h5>
                    <ul>
                        <li class="mb-1" id="titulo2">Fuerza</li>
                        <li class="mb-1" id="titulo2">Hipertrofia</li>
                        <li class="mb-1" id="titulo2">Funcional</li>
                        <li class="mb-1" id="titulo2">Gimnasia postural</li>
                        <li class="mb-1" id="titulo2">Gimnasia para niños</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h5 id="titulo" class="my-2">Seguimiento</h5>
                    <ul>
                        <li class="mb-1" id="titulo2">Balanza de bioimpedancia</li>
                        <li class="mb-1" id="titulo2">Fotografías</li>
                        <li class="mb-1" id="titulo2">Resúmenes mensuales</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h5 id="titulo" class="my-2">Cineantropometría</h5>
                    <ul>
                        <li class="mb-1" id="titulo2">Mediciones básicas</li>
                        <li class="mb-1" id="titulo2">Diámetros oseos</li>
                        <li class="mb-1" id="titulo2">Perímetro muscular</li>
                        <li class="mb-1" id="titulo2">Pliegues cutáneos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- PLANES -->
    <div id="fondo" class="d-flex justify-content-center">
        <h3 id="titulo2" class="my-5 me-2">NUESTROS</h3>    
        <h3 id="titulo" class="my-5"><b>PLANES</b></h3>
    </div>

    <div id="fondo" class="container-fluid">
        <div class="d-flex justify-content-around me-5">
            <div class="row my-3">
                <!-- TARJETA PLAN ESTANDAR -->
                <div class="col-md-6 col-lg-4 col-sm-12 px-4 my-5">
                    <div class="shadow card" style="width: 18rem;">
                        <img src="/static/assets/cstandar.png" width="200" height="300" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">ESTÁNDAR</h5>
                          <p class="card-text">Balanza de bioimpedancia, fotografía, fuerza, hipertrofia, funcional...</p>
                          <a href="/estandar" class="btn btn-outline-dark">Más información</a>
                        </div>
                    </div>
                </div>
                <!-- TARJETA PLAN PERSONALIZADO -->
                <div class="col-md-6 col-lg-4 col-sm-12 px-4 my-5">
                    <div class="shadow card" style="width: 18rem;">
                        <img src="/static/assets/cspers.png" width="200" height="300" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">PERSONALIZADO</h5>
                          <p class="card-text">Balanza de bioimpedancia, fotografía, estiramientos asistidos, gimnasia postural...</p>
                          <a href="/personalizado" class="btn btn-outline-dark">Más información</a>
                        </div>
                    </div>
                </div>
                <!-- TARJETA PLAN PERSONAL TRAINER -->
                <div class="col-md-6 col-lg-4 col-sm-12 px-4 my-5">
                    <div class="shadow card" style="width: 18rem;">
                        <img src="/static/assets/csperstrainer.png" width="200" height="300" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">PERSONAL TRAINER</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="/personaltrainer" class="btn btn-outline-dark">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fondo2" class="container-fluid">
        <div id="fondo2" class="d-flex justify-content-center">
            <h3 id="titulo" class="my-5"><b>CONTACTO</b></h3>
        </div>
        <div class="d-flex justify-content-center me-5">
            <div class="row d-flex justify-content-center">
                <div class="col-6 my-5 px-4">
                    <a href="https://www.instagram.com/catelotti.sport/"><img src="/static/assets/instalogocs.png" width="120" height="120"></a>
                    
                </div>
                <div class="col-6 my-5 px-4">
                    <a href="https://www.instagram.com/catelotti.sport/"><img src="/static/assets/gmail.png" width="120" height="120"></a>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}